<template name="sourceEdit">

    <div class="panel panel-default">
        <div class="panel-heading">Добавить новый материал</div>
        <div class="panel-body">
            <form class="sourceEdit">

                <div class="form-group">
                    <label>Тип ресурса</label>
                    <select name="source_type" class="form-control">
                        {{#each sourceTypes}}
                            <option value="{{this._id}}">{{this.title}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="input-group">
                    <span class="input-group-btn">

                        <a class="btn btn-default source-edit-choser {{#if showAuthor}}active{{/if}}" title="Указать авторов" href="#source-edit-authors" data-toggle="collapse">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>

                        <a class="btn btn-default source-edit-choser {{#if showTags}}active{{/if}}" title="Указать теги" href="#source-edit-tags" data-toggle="collapse">
                            <span class="glyphicon glyphicon-tags"></span>
                        </a>
                    </span>
                    <input name="title" type="text" class="form-control" placeholder="Введите название материала">
                    <span class="input-group-btn">
                        <input type="button" class=" createSource btn btn-default" value="Добавить">
                    </span>
                </div>

                <br>

                <div class="form-group collapse" id="source-edit-authors">
                    <label>Авторы</label>
                    <input name="authors" type="text" >
                </div>

                <div class="form-group collapse" id="source-edit-tags">
                    <label>Тематика</label>
                    <input name="tags" type="text" >
                </div>

            </form>
        </div>
    </div>

</template>