<template name="sourceEdit">

    <div class="panel panel-default">
        <div class="panel-heading">Добавить новый материал</div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <a role="button" class="btn btn-default source-edit-choser" title="Указать авторов" href="#source-edit-authors">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                            <a role="button" class="btn btn-default  source-edit-choser" title="Указать теги" href="#source-edit-tags">
                                <span class="glyphicon glyphicon-tags"></span>
                            </a>
                        </span>
                        <input type="text" class="form-control" name="title" placeholder="Введите название материала">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-default" value="Добавить">
                        </span>
                    </div>

                    <div id="source-edit-authors">
                        авторы
                    </div>

                    <div id="source-edit-tags">
                        теги
                    </div>
                </div>
            </form>
        </div>
    </div>

</template>